body {
  background-color: #2ecc71;
  font-family: "comfortaa", Helvetica, sans-serif;

}

h1 {
  margin: auto;
  text-align: center;
  font-size: xx-large;
  color: #ffffff;
  width: 75%;
  padding-bottom: 7%;
  font-weight: bold;
  word-break:keep-all;

}

p {
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
  font-weight: 100;
  font-size: 20pt;
  color: #ffffff;
}



.textEnter {
  font-family: "comfortaa", Helvetica, sans-serif;
  position: relative;
  font-size: x-large;
  font-weight: normal;
  color: #ffffff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 75%;
  background-color: inherit;
  text-align: center;
  width: 100%;
  word-break:keep-all;
}

.formButton {
  font-family: "comfortaa", Helvetica, sans-serif;
  float:right;
	background-color:#ffffff;
	display:inline-block;
	color:#2ecc71;
	font-size:28px;
	font-weight: 500;
	padding:6px 24px;
  margin-top: 15px;
  margin-right: 60px;
	text-decoration:none;
}

.formButton:hover {
	background-color: #27ae60;
  color:#ffffff;
}

.formButton:active {
	position:relative;
	top:3px;
}

/*To remove the outline that appears on clicking the input textbox*/
input:focus {
  outline: none;
}

/* To format the placeholder text color */
::-webkit-input-placeholder {
  color: #ecf0f1;
  white-space:pre-line;
  position:relative;
word-wrap:normal;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ecf0f1;
  white-space:pre-line;
  position:relative;
word-wrap:normal;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #ecf0f1;
  white-space:pre-line;
  position:relative;
word-wrap:normal;
}

:-ms-input-placeholder {
  color: #ecf0f1;
  white-space:pre-line;
  position:relative;
  word-wrap:normal;
}
